In [ ]:
# JAVA

int square(int x) {
    return x*x;
    return Math.pow(x, 2);
}

In [6]:
def square(x):
    return x**2

$x^2$

x from 0 to 5

y from 0 to 5

### For loop syntax

In [12]:
for i in range(0, 10):
    print('hi')

hi
hi
hi
hi
hi
hi
hi
hi
hi
hi

**Challenge**: Print out all possible combinations of x and y using two for loops

$(0, 0), (1, 0), (2, 0) ..... (5, 5)$

In [20]:
for x in range(0, 6):
    for y in range(0, 6):
#         print('(', x, y, ')')
        print(f'({x}, {y})')

(0, 0)
(0, 1)
(0, 2)
(0, 3)
(0, 4)
(0, 5)
(1, 0)
(1, 1)
(1, 2)
(1, 3)
(1, 4)
(1, 5)
(2, 0)
(2, 1)
(2, 2)
(2, 3)
(2, 4)
(2, 5)
(3, 0)
(3, 1)
(3, 2)
(3, 3)
(3, 4)
(3, 5)
(4, 0)
(4, 1)
(4, 2)
(4, 3)
(4, 4)
(4, 5)
(5, 0)
(5, 1)
(5, 2)
(5, 3)
(5, 4)
(5, 5)

80000002: False

88000001: True

In [25]:
num = 880005
str_num = str(num)
y = 0

for x in str_num:
    if x==y and x=='8':
        print('True')
        break
    print('False')

False
False
False
False
False
False

In [24]:
type(num), type(str_num)

(int, str)

In [36]:
def double_eights(num):
    # True if num contains two 8's in a row
    # False if num does not contain two 8's in a row
    str_num = str(num)
    
    y = 0
    
    for x in str_num:
        if x==y and x=='8':
            return True
        y = x
    
    return False

In [38]:
double_eights(88000)

True

In [39]:
double_eights(80058)

False

## Sets

In [40]:
array = [0, 10, 5, 10]
set(array)

{0, 5, 10}

In [41]:
array = [0, 2, 5, 2, 5]
set(array)

{0, 2, 5}

In [53]:
new_set = set()
new_set.add(2)
new_set.add(5.5)
new_set.add('hi Kaiyi')
new_set

{2, 5.5, 'hi Kaiyi'}

### Set Inclusion

In [47]:
new_set

{2, 5.5, 'hi Kaiyi'}

In [48]:
2 in new_set

True

In [49]:
'hi Kaiyi' in new_set

True

In [ ]:
5 in new_set

### Set Deletion

In [54]:
new_set
new_set.remove(5.5)
new_set.add(5)

In [55]:
new_set

{2, 5, 'hi Kaiyi'}

## Dictionaries