In [1]:
a = [1, 10, "Sandy", "Kaiyi", 9, "Lucas"]

In [3]:
a[2]

'Sandy'

In [4]:
a[4]

9

In [7]:
a[-4]

'Sandy'

In [8]:
for item in a:
    print(item)

1
10
Sandy
Kaiyi
9
Lucas

In [9]:
for i in range(0, len(a)):
    print(i, ': ', a[i])

0 :  1
1 :  10
2 :  Sandy
3 :  Kaiyi
4 :  9
5 :  Lucas

In [10]:
a

[1, 10, 'Sandy', 'Kaiyi', 9, 'Lucas']

In [11]:
a[2] = 'David'
a

[1, 10, 'David', 'Kaiyi', 9, 'Lucas']

In [13]:
a*2

[1, 10, 'David', 'Kaiyi', 9, 'Lucas', 1, 10, 'David', 'Kaiyi', 9, 'Lucas']

In [14]:
a.append('Sandy')
a

[1, 10, 'David', 'Kaiyi', 9, 'Lucas', 'Sandy']

In [15]:
a.append('Daniel Lin')
a

[1, 10, 'David', 'Kaiyi', 9, 'Lucas', 'Sandy', 'Daniel Lin']